<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
    <style>
      #banner{
        height:360px;
        width:100%;
      }
    </style>
  </head>
  <body>
    <div class= "container">
      <h1 class="text-center mt-2 mb-4"> {{company_name}} Careers</h1>
      <img class= "img-fluid" id="banner" src="https://website.arunakumari4.repl.co/static/banner.jpg">
      <h2 class="text-center mt-2 mb-4">About Me</h2>
      <p class="lead">“Nor is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure.”
      </p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
     <!-- <p>{{jobs}}</p> -->
      <div> 
        {% for job in jobs %}
          {% include "jobitem.html" %} 
        {% endfor %}
      </div>
      <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4"> Copyright 2023</p>
      </div>
    </div>
  </body>
</html>